<a href="https://colab.research.google.com/github/sreejapatel21/sreeja/blob/main/assignments/Assignment_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python

<a target="_blank" href="https://colab.research.google.com/github/kgsb24/rishi-college/blob/main/assignments/Assignment_01.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

## Basic Python Fundamentals

In [ ]:
# Write a Python program to declare a variable x with the value 10 and print its type
x=10
print(type(x))

<class 'int'>

In [ ]:
# Write a Python program to declare three variables a = 5, b = 10, and c = 15, and print their sum.
a=5
b=10
c=15
print(a+b+c)
print(sum)

30
<built-in function sum>

In [ ]:
# Write a Python program that checks and prints the type of a variable (e.g., int, float, str, etc.)
a=10
print(type(a))

<class 'int'>

In [ ]:
# Write a Python program to perform addition, subtraction, multiplication, and division on two numbers. (User input is required for the numbers)
a=int(input("enter 1st number"))
b=int(input("enter 2nd number"))
print(a+b)
print(a-b)
print(a*b)
print(a/b)

enter first number2
enter second number3
5
-1
6
0.6666666666666666

In [ ]:
# Write a Python program to print the first character of a given string. (User input for the string)
string_number = "123"

# Convert to integer using int()
integer_number = int(string_number)

# Convert to float using float()
float_number = float(string_number)

# Print the results
print("Integer:", integer_number)
print("Float:", float_number)

Integer: 123
Float: 123.0

In [ ]:
# Write a Python program to print the length of a string. (User input for the string)
string_number = "123"

# Convert to integer using int()
integer_number = int(string_number)

# Convert to float using float()
float_number = float(string_number)

# Print the results
print("Integer:", integer_number)
print("Float:", float_number)

Integer: 123
Float: 123.0

In [ ]:
# Write a Python program to check if a given string contains only alphabets.
a="sreeja"
a.isalpha()

True

In [ ]:
# Write a Python program to concatenate two strings. (User input for the strings)
a=input("enter 1st string:")
b=input("enter 2nd string")
print(a+b)

enter 1st string:sreeja
enter 2nd stringpeddapatla
sreejapeddapatla

In [ ]:
# Write a Python program to count how many times a particular character appears in a string. (User input for string and character)
string = input("Enter a string: ")
char = input("Enter the character to count: ")

count = string.count(char)

print(f"The character '{char}' appears {count} times in the string.")

Enter a string: sreeja
Enter the character to count: 2
The character '2' appears 0 times in the string.

In [ ]:
# Write a Python program to take the user's name as input and print a personalized greeting. (Hello, username, Good Morning)
name = input("Enter your name: ")
print("Hello, " + name + ", Good Morning!")

Enter your name: sreeeja
Hello, sreeeja, Good Morning!

In [ ]:
# Write a Python program to take two numbers as input and print their sum.
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))

sum = num1 + num2

print("The sum of", num1, "and", num2, "is", sum)

Enter the first number: 1
Enter the second number: 2
The sum of 1.0 and 2.0 is 3.0

In [ ]:
# Write a Python program to format and display a string containing the user's name and age. (User input required)
name = input("Enter your name: ")
age = int(input("Enter your age: "))

# Using f-strings for formatting
formatted_string = f"My name is {name} and I am {age} years old."

print(formatted_string)

Enter your name: sreeja
Enter your age: 20
My name is sreeja and I am 20 years old.

In [ ]:
# Write a Python program to format and display a string containing the user's name and age. (User input required)
name = input("Enter your name: ")
age = int(input("Enter your age: "))

# Using f-strings for formatting
formatted_string = f"My name is {name} and I am {age} years old."

print(formatted_string)

Enter your name: sreeja
Enter your age: 20
My name is sreeja and I am 20 years old.

In [ ]:
# Write a Python program to format and display a string containing the user's name and age. (User input required)
name = input("Enter your name: ")
age = int(input("Enter your age: "))

# Using f-strings for formatting
formatted_string = f"My name is {name} and I am {age} years old."

print(formatted_string)

Enter your name: sreeja
Enter your age: 20
My name is sreeja and I am 20 years old.

## Control Structures (Conditionals and Loops)

In [ ]:
# Write a Python program that takes a number as input and checks whether it is positive, negative, or zero.
number = float(input("Enter a number: "))

if number > 0:
    print("The number is positive.")
elif number < 0:
    print("The number is negative.")
else:
    print("The number is zero.")

Enter a number: 1
The number is positive.

In [ ]:
# Write a Python program to find the maximum of three numbers. (User input for the numbers)
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))
num3 = float(input("Enter the third number: "))

maximum = max(num1, num2, num3)

print("The maximum number is:", maximum)

Enter the first number: 12
Enter the second number: 32
Enter the third number: 23
The maximum number is: 32.0

In [ ]:
# Write a Python program to check if a year is a leap year. (User input for the year)
year = int(input("Enter a year: "))

if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    print(f"{year} is a leap year")
else:
    print(f"{year} is not a leap year")

Enter a year: 2024
2024 is a leap year

In [ ]:
# Write a Python program to check if a number is divisible by both 3 and 5. (User input for the number)
# Get input from the user
number = int(input("Enter a number: "))

# Check divisibility by 3 and 5
if number % 3 == 0 and number % 5 == 0:
    print(f"{number} is divisible by both 3 and 5")
else:
    print(f"{number} is not divisible by both 3 and 5")

Enter a number: 34
34 is not divisible by both 3 and 5

In [ ]:
# Write a Python program to check if a string is a palindrome. (User input for the string)
def is_palindrome(text):
  """Checks if a string is a palindrome.

  Args:
    text: The string to check.

  Returns:
    True if the string is a palindrome, False otherwise.
  """
  processed_text = text.lower().replace(" ", "")  # Ignore case and spaces
  return processed_text == processed_text[::-1]  # Compare with reversed string

# Get user input
user_input = input("Enter a string: ")

# Check if the string is a palindrome and print the result
if is_palindrome(user_input):
  print(f"'{user_input}' is a palindrome.")
else:
  print(f"'{user_input}' is not a palindrome.")

Enter a string: sreeja
'sreeja' is not a palindrome.

In [ ]:
# Write a Python program to print numbers from 1 to 10 using a for loop.
for i in range(1, 11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
# Write a Python program to print all even numbers from 1 to 20 using a while loop.
number = 2  # Start with the first even number

while number <= 20:
  print(number)
  number += 2  # Increment by 2 to get the next even number

2
4
6
8
10
12
14
16
18
20

In [ ]:
# Write a Python program to print the multiplication table of a given number using a for loop. (User input for the number)
# Get input from the user
number = int(input("Enter the number for the multiplication table: "))

# Print the multiplication table
print(f"Multiplication Table of {number}:")
for i in range(1, 11):  # Iterate from 1 to 10
    product = number * i
    print(f"{number} x {i} = {product}")

Enter the number for the multiplication table: 6
Multiplication Table of 6:
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

In [32]:
# Write a Python program to calculate the sum of all numbers from 1 to n using a while loop. (User input for n)
# Get input from the user for the value of 'n'
n = int(input("Enter a positive integer (n): "))

# Initialize variables to store the sum and the current number
sum_of_numbers = 0
current_number = 1

# Use a while loop to iterate until the current number reaches 'n'
while current_number <= n:
    sum_of_numbers += current_number  # Add the current number to the sum
    current_number += 1  # Move to the next number

# Print the calculated sum
print("The sum of numbers from 1 to", n, "is:", sum_of_numbers)

Enter a positive integer (n): 2
The sum of numbers from 1 to 2 is: 3

In [34]:
# Write a Python program to calculate the factorial of a number using a while loop. (User input for the number)
# Get input from the user
num = int(input("Enter a non-negative integer: "))

# Initialize the factorial to 1
factorial = 1

# Check if the number is negative
if num < 0:
    print("Factorial is not defined for negative numbers.")
elif num == 0:
    print("The factorial of 0 is 1.")
else:
    # Calculate the factorial using a while loop
    while num > 1:
        factorial *= num
        num -= 1

    # Print the result
    print("The factorial is:", factorial)

Enter a non-negative integer: 6
The factorial is: 720

In [38]:
# Write a Python program to calculate the factorial of a number using a while loop. (User input for the number)
# Get input from the user
num = int(input("Enter a non-negative integer: "))

# Initialize the factorial to 1
factorial = 1

# Check if the number is negative
if num < 0:
    print("Factorial is not defined for negative numbers.")
elif num == 0:
    print("The factorial of 0 is 1.")
else:
    # Calculate the factorial using a while loop
    while num > 1:
        factorial *= num
        num -= 1

    # Print the result
    print("The factorial is:", factorial)

Enter a non-negative integer: 6
The factorial is: 720

In [39]:
# Write a Python program to calculate the factorial of a number using a while loop. (User input for the number)
# Get input from the user
num = int(input("Enter a non-negative integer: "))

# Initialize the factorial to 1
factorial = 1

# Check if the number is negative
if num < 0:
    print("Factorial is not defined for negative numbers.")
elif num == 0:
    print("The factorial of 0 is 1.")
else:
    # Calculate the factorial using a while loop
    while num > 1:
        factorial *= num
        num -= 1

    # Print the result
    print("The factorial is:", factorial)

Enter a non-negative integer: 7
The factorial is: 5040

In [40]:
# Write a Python program to print the Fibonacci sequence up to n terms. (User input for n)
# Get input from the user for the number of terms
n = int(input("Enter the number of terms: "))

# Initialize the first two terms of the sequence
a, b = 0, 1

# Check if the number of terms is valid
if n <= 0:
    print("Please enter a positive integer.")
elif n == 1:
    print("Fibonacci sequence up to", n, "term:", a)
else:
    print("Fibonacci sequence up to", n, "terms:")
    for i in range(n):
        print(a, end=" ")  # Print the current term
        a, b = b, a + b  # Update a and b for the next term

Enter the number of terms: 8
Fibonacci sequence up to 8 terms:
0 1 1 2 3 5 8 13

In [41]:
# Write a Python program to find all the prime numbers from 1 to 100.
def is_prime(num):
    """Checks if a number is prime."""
    if num <= 1:
        return False  # Numbers less than or equal to 1 are not prime
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False  # If divisible by any number, it's not prime
    return True  # If not divisible by any number, it's prime

# Find and print prime numbers from 1 to 100
print("Prime numbers from 1 to 100:")
for num in range(2, 101):  # Start from 2 (1 is not prime)
    if is_prime(num):
        print(num, end=" ")

Prime numbers from 1 to 100:
2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

In [42]:
# Write a Python program that breaks out of a loop when a specific condition is met (e.g., when a number greater than 50 is found).
# Create a list of numbers
numbers = [10, 25, 33, 42, 55, 68, 71, 84]

# Iterate through the list
for number in numbers:
    print(number)  # Print the current number

    # Check if the number is greater than 50
    if number > 50:
        print("Breaking out of the loop!")
        break  # Exit the loop if condition is met

10
25
33
42
55
Breaking out of the loop!

In [43]:
# Write a Python program to skip even numbers while printing numbers from 1 to 20 using a for loop.
# Iterate through numbers from 1 to 20
for number in range(1, 21):
    # Check if the number is even
    if number % 2 == 0:
        continue  # Skip to the next iteration if even

    # Print the number if it's odd
    print(number)

1
3
5
7
9
11
13
15
17
19

In [44]:
# Write a Python program to count how many times a particular character appears in a string using a for loop. (User input for string and character)
string = input("Enter a string: ")
char = input("Enter the character to count: ")

count = 0  # Initialize a counter variable

for character in string:
    if character == char:
        count += 1  # Increment the counter if the character matches

print(f"The character '{char}' appears {count} times in the string.")

Enter a string: sreeja
Enter the character to count: 6
The character '6' appears 0 times in the string.

In [45]:
# Write a Python program to calculate the sum of digits of a number. (User input for the number)
def sum_digits(number):
    """Calculates the sum of digits of a number.

    Args:
        number: The number to calculate the sum of digits for.

    Returns:
        The sum of the digits of the number.
    """

    sum_of_digits = 0

    # Convert the number to a string for easy iteration over digits
    number_str = str(number)

    # Iterate over each digit (as a character) in the string
    for digit in number_str:
        # Convert the digit back to an integer and add it to the sum
        sum_of_digits += int(digit)

    return sum_of_digits

# Get user input
number = int(input("Enter a number: "))

# Calculate and print the sum of digits
result = sum_digits(number)
print("The sum of digits is:", result)

Enter a number: 9
The sum of digits is: 9

## Data Structures (Lists, Tuples, Sets, Dictionaries)

In [50]:
# Write a Python program to create a list of integers and print the sum of the elements.
# Create a list of integers
numbers = [1, 2, 3, 4, 5]

# Calculate the sum of the elements using the sum() function
total_sum = sum(numbers)

# Print the sum
print("Sum of elements:", total_sum)

TypeError: 'float' object is not callable

In [51]:
# Write a Python program to find the largest element in a list.
def find_largest_element(numbers):
    """Finds the largest element in a list.

    Args:
        numbers: The list of numbers.

    Returns:
        The largest element in the list.
    """

    if not numbers:  # Check if the list is empty
        return None  # Return None if the list is empty

    largest_element = numbers[0]  # Assume the first element is the largest initially

    # Iterate over the remaining elements
    for number in numbers[1:]:
        if number > largest_element:
            largest_element = number  # Update largest_element if a larger number is found

    return largest_element

# Example usage:
numbers = [10, 5, 20, 8, 15]
largest = find_largest_element(numbers)

if largest is not None:
    print("Largest element:", largest)
else:
    print("The list is empty.")

Largest element: 20

In [52]:
# Write a Python program to reverse a list.
# Method 1: Using the built-in reverse() method
my_list = [1, 2, 3, 4, 5]
my_list.reverse()  # Reverses the list in-place
print("Reversed list (Method 1):", my_list)

# Method 2: Using slicing
my_list = [1, 2, 3, 4, 5]
reversed_list = my_list[::-1]  # Creates a new reversed list
print("Reversed list (Method 2):", reversed_list)

Reversed list (Method 1): [5, 4, 3, 2, 1]
Reversed list (Method 2): [5, 4, 3, 2, 1]

In [53]:
# Write a Python program to remove all occurrences of a specific element from a list.
def remove_all_occurrences(my_list, element):
  """Removes all occurrences of a specific element from a list.

  Args:
    my_list: The list to modify.
    element: The element to remove.
  """

  while element in my_list:
    my_list.remove(element)

# Example usage:
numbers = [1, 2, 3, 2, 4, 2, 5]
element_to_remove = 2

remove_all_occurrences(numbers, element_to_remove)
print("Modified list:", numbers)

Modified list: [1, 3, 4, 5]

In [54]:
# Write a Python program to find the index of an element in a list.
def find_index(my_list, element):
  """Finds the index of an element in a list.

  Args:
    my_list: The list to search in.
    element: The element to find the index of.

  Returns:
    The index of the element if found, -1 otherwise.
  """
  try:
    index = my_list.index(element)
    return index
  except ValueError:
    return -1

# Example usage:
numbers = [10, 20, 30, 40, 50]
element_to_find = 30

index = find_index(numbers, element_to_find)

if index != -1:
  print("Element found at index:", index)
else:
  print("Element not found in the list.")

Element found at index: 2

In [55]:
# Write a Python program to find if a specific element exists in a list.
def element_exists(my_list, element):
  """Checks if a specific element exists in a list.

  Args:
    my_list: The list to search in.
    element: The element to check for.

  Returns:
    True if the element exists in the list, False otherwise.
  """
  return element in my_list

# Example usage:
numbers = [1, 2, 3, 4, 5]
element_to_check = 3

if element_exists(numbers, element_to_check):
  print("Element exists in the list.")
else:
  print("Element does not exist in the list.")

Element exists in the list.

In [56]:
# Write a Python program to remove duplicates from a list.
def remove_duplicates(my_list):
  """Removes duplicates from a list while preserving order.

  Args:
    my_list: The list to remove duplicates from.

  Returns:
    A new list with duplicates removed.
  """

  seen = set()  # Keep track of seen elements
  new_list = []

  for item in my_list:
    if item not in seen:
      seen.add(item)
      new_list.append(item)

  return new_list

# Example usage:
numbers = [1, 2, 2, 3, 4, 4, 5, 1]
unique_numbers = remove_duplicates(numbers)
print("List with duplicates removed:", unique_numbers)

List with duplicates removed: [1, 2, 3, 4, 5]

In [57]:
# Write a Python program to count the occurrences of an element in a list.
def count_occurrences(my_list, element):
  """Counts the occurrences of an element in a list.

  Args:
    my_list: The list to search in.
    element: The element to count.

  Returns:
    The number of times the element appears in the list.
  """

  return my_list.count(element)

# Example usage:
numbers = [1, 2, 3, 2, 4, 2, 5]
element_to_count = 2

occurrences = count_occurrences(numbers, element_to_count)
print(f"The element {element_to_count} appears {occurrences} times in the list.")

The element 2 appears 3 times in the list.

In [58]:
# Write a Python program to get the number of even numbers in a list.
def count_even_numbers(numbers):
  """Counts the number of even numbers in a list.

  Args:
    numbers: The list of numbers.

  Returns:
    The count of even numbers in the list.
  """

  count = 0
  for number in numbers:
    if number % 2 == 0:  # Check if the number is even
      count += 1
  return count

# Example usage:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_count = count_even_numbers(numbers)
print("Number of even numbers:", even_count)

Number of even numbers: 5

In [59]:
# Write a Python program to create a tuple and print it.
# Create a tuple
my_tuple = (1, 2, 3, "apple", "banana")

# Print the tuple
print(my_tuple)

(1, 2, 3, 'apple', 'banana')

In [60]:
# Write a Python program to convert a tuple to a list and vice versa.
# Tuple to List conversion
my_tuple = (1, 2, 3, "apple", "banana")
my_list = list(my_tuple)  # Convert tuple to list using list()
print("Tuple converted to list:", my_list)

# List to Tuple conversion
my_list = [1, 2, 3, "apple", "banana"]
my_tuple = tuple(my_list)  # Convert list to tuple using tuple()
print("List converted to tuple:", my_tuple)

Tuple converted to list: [1, 2, 3, 'apple', 'banana']
List converted to tuple: (1, 2, 3, 'apple', 'banana')

In [61]:
# Write a Python program to find the maximum and minimum values in a tuple.
my_tuple = (10, 5, 20, 8, 15)

# Find maximum and minimum using built-in functions
maximum_value = max(my_tuple)
minimum_value = min(my_tuple)

print("Maximum value:", maximum_value)
print("Minimum value:", minimum_value)

Maximum value: 20
Minimum value: 5

In [62]:
# Write a Python program to add an element to a set and check if an element exists in the set.
# Create a set
my_set = {1, 2, 3}

# Add an element
my_set.add(4)
print("Set after adding 4:", my_set)  # Output: {1, 2, 3, 4}

# Check if an element exists
if 2 in my_set:
    print("2 exists in the set")  # Output: 2 exists in the set
else:
    print("2 does not exist in the set")

Set after adding 4: {1, 2, 3, 4}
2 exists in the set

In [63]:
# Write a Python program to create a dictionary with keys and values and print it.
# Method 1: Using curly braces {}
my_dict = {'name': 'Alice', 'age': 30, 'city': 'New York'}
print(my_dict)  # Output: {'name': 'Alice', 'age': 30, 'city': 'New York'}

# Method 2: Using the dict() constructor
my_dict = dict(name='Bob', age=25, city='London')
print(my_dict)  # Output: {'name': 'Bob', 'age': 25, 'city': 'London'}

{'name': 'Alice', 'age': 30, 'city': 'New York'}
{'name': 'Bob', 'age': 25, 'city': 'London'}

In [64]:
# Write a Python program to access a dictionary value using a key.
# Create a dictionary
my_dict = {'name': 'Alice', 'age': 30, 'city': 'New York'}

# Access the value using the key 'name'
name = my_dict['name']

# Print the value
print(name)  # Output: Alice

Alice

In [65]:
# Write a Python program to check if a key exists in a dictionary.
# Create a dictionary
my_dict = {'name': 'Alice', 'age': 30, 'city': 'New York'}

# Check if the key 'name' exists
if 'name' in my_dict:
    print("Key 'name' exists in the dictionary")
else:
    print("Key 'name' does not exist in the dictionary")

# Check if the key 'country' exists
if 'country' in my_dict:
    print("Key 'country' exists in the dictionary")
else:
    print("Key 'country' does not exist in the dictionary")

Key 'name' exists in the dictionary
Key 'country' does not exist in the dictionary

In [ ]:
# Write a Python program to merge two dictionaries.

In [ ]:
# Write a Python program to remove a key from a dictionary.

In [ ]:
# Write a Python program to get the number of keys in a dictionary.

In [ ]:
# Write a Python program to find the largest and smallest values in a dictionary.

## Functions (User-Defined, Arguments, Keyword Arguments, Return Values)

In [ ]:
# Write a Python function that returns the square of a number.

In [ ]:
# Write a Python function that accepts two parameters and returns their sum.

In [ ]:
# Write a Python function to check if a given number is prime.

In [ ]:
# Write a Python function to calculate the factorial of a number using recursion.

In [ ]:
# Write a Python function to calculate the power of a number using recursion.

In [ ]:
# Write a Python function to accept a list and return its length without using the built-in len() function.

In [ ]:
# Write a Python function that accepts both positional and keyword arguments and prints the sum of positional arguments.

In [ ]:
# Write a Python function to find the maximum of two numbers using keyword arguments.

In [ ]:
# Write a Python function that accepts a list of numbers and returns their product.

In [ ]:
# Write a Python function to check if a number is even or odd using the modulo operator.

In [ ]:
# Write a Python program to create a list of squares of numbers from 1 to 10 using list comprehension.

In [ ]:
# Write a Python program to filter out all even numbers from a list using list comprehension.

In [ ]:
# Write a Python program to create a list of strings that are longer than 4 characters from a given list of words using list comprehension.

In [ ]:
# Write a Python program to create a list of all uppercase letters in a string using list comprehension.

In [ ]:
# Write a Python program to generate the first n Fibonacci numbers using list comprehension.

In [ ]:
# Write a Python program to create a dictionary where keys are numbers and values are their squares using dictionary comprehension.

In [ ]:
# Write a Python program to create a dictionary from two lists (one for keys and one for values) using dictionary comprehension.

In [ ]:
# Write a Python program to create a dictionary of numbers from 1 to 5 and their cubes using dictionary comprehension.

In [ ]:
# Write a Python program to square each element of a list using the map() function.

In [ ]:
# Write a Python program to filter all even numbers from a list using the filter() function.

In [ ]:
# Write a Python program to use a lambda function to check if a number is divisible by both 3 and 5.

In [ ]:
# Write a Python program to multiply all numbers in a list by 2 using a lambda function inside map().

In [ ]:
# Write a Python program to remove all occurrences of a specific element from a list.

**Note:**
- All assignments must follow [PEP 8 – Style Guide for Python Code](https://peps.python.org/pep-0008/) guidelines.
- You can add multiple solutions for each question. Create a new code cell next to the question and add it. Shortcut for creating cell : `Alt + Enter`